<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/tree.css' />
    <link rel='stylesheet' href='../js/codemirror/codemirror.css' />


  </head>
  <body>
   <div class="nav" id="nav">

   </div>
   <div class="main">
       <div  class="left" id="left"></div>
       <div  class="coment" id="coment">
        <button id="save">保存</button>
           <textarea  id="container" name="content" >

           </textarea >
       </div>
   </div>

    <script  type="text/javascript" src="http://ob4uot9cp.bkt.clouddn.com/lib.js"></script>
    <script  type="text/javascript" src="/js/react.min.js"></script>
    <script  type="text/javascript" src="/js/tree.js"></script>

   <script type="text/javascript" charset="utf-8" src="../js/codemirror/codemirror.js"></script>
   <script type="text/javascript" charset="utf-8" src="../js/codemirror/mode/css/css.js"></script>
   <script type="text/javascript" charset="utf-8" src="../js/codemirror/mode/javascript/javascript.js"></script>
   <script type="text/javascript" charset="utf-8" src="../js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

    <!-- 实例化编辑器 "text/html" -->
    <script type="text/javascript">
          var myTextarea = document.getElementById("container");
          window.editor = CodeMirror.fromTextArea(myTextarea, {
            mode:"css"
          });

          $("#save").on("click",function(){
            $.ajax({
                      type: "post",
                      url: "http://10.0.130.129:3000/file/saveFileContent",
                      data: {fileData: window.editor.getValue(),fileName:"D:/DevCode-Git/yg_online/web/static/html/active/mzg.html"},
                      dataType: "json",
                      success: function (data) {
                          alert("success");
                      },
                      exception: function (data) {
                          alert("error");
                          console.log(data);
                      }
                  });
          })
    </script>
  </body>
</html>
