<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/tree.css' />


        <script type="text/javascript" src="../js/ueditor/SyntaxHighlighter/shCore.js"></script>
        <!--所使用的SyntaxHighlighter样式-->
        <link type="text/css" rel="stylesheet" href="../js/ueditor/SyntaxHighlighter/shCoreDefault.css"/>
        <!--初始化SyntaxHighlighter的必须代码，必须放在head中，引入文件之后-->
         <script type="text/javascript" charset="utf-8" src="../js/ueditor/ueditor.config.js"></script>
            <script type="text/javascript" charset="utf-8" src="../js/ueditor/ueditor.all.js"> </script>
            <script type="text/javascript" charset="utf-8" src="../js/ueditor/lang/zh-cn/zh-cn.js"></script>
        <script type="text/javascript">SyntaxHighlighter.all();</script>

  </head>
  <body>
   <div class="nav" id="nav">

   </div>
   <div class="main">
       <div  class="left" id="left"></div>
       <div  class="coment" id="coment">

           <script id="container" name="content" type="text/plain">

           </script>
         <textarea style="width:1000px;height:1000px;" id="r"></textarea>
       </div>
   </div>

    <script  type="text/javascript" src="http://ob4uot9cp.bkt.clouddn.com/lib.js"></script>
    <script  type="text/javascript" src="/js/react.min.js"></script>
    <script  type="text/javascript" src="/js/tree.js"></script>

    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container', {
            autoHeight: true
        });
ue.options.allowDivTransToP = false;

    </script>
  </body>
</html>
