<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/main.css' />
    <link rel='stylesheet' href='/css/tree.css' />
    <link rel='stylesheet' href='../js/codemirror/codemirror.css' />


  </head>
  <body>


    <script  type="text/javascript" src="http://ob4uot9cp.bkt.clouddn.com/lib.js"></script>
    <script  type="text/javascript" src="/js/react.min.js"></script>
    <script  type="text/javascript" src="/js/tree.js"></script>
   <script type="text/javascript" charset="utf-8" src="../js/codemirror/codemirror.js"></script>
   <script type="text/javascript" charset="utf-8" src="../js/codemirror/mode/css/css.js"></script>
   <script type="text/javascript" charset="utf-8" src="../js/codemirror/mode/javascript/javascript.js"></script>
   <script type="text/javascript" charset="utf-8" src="../js/codemirror/mode/htmlmixed/htmlmixed.js"></script>

    <!-- 实例化编辑器 "text/html" -->
    <script type="text/javascript">
    var myTextarea = document.getElementById("container");
            myTextarea&&(window.editor = CodeMirror.fromTextArea(myTextarea, {
                mode:"css"
            }));

    </script>

  </body>
</html>
