.input{
  label{
    display:inline-block;
    width: 30%;
    text-align: right;
  }
  .tip{
    color:red;
    font-size: 80%;
    margin-left: 30%;
    margin-top: 3px;
    margin-bottom: 3px;
    height:1rem
  }

}