@import "../../common/scss/base.scss";

.table table {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
    th{
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
    }
    td{
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
    }
}
