@import "../../common/scss/base.scss";

.contextmenu{
  position: fixed;
  left:0;
  top:0;

  display: none;
  background-color:#e0e0e0;
  ul{
    li{
      display: block;
      float:none!important;
      margin:3px;
      &:hover{
        cursor: pointer;
        color:#0000ff;
      }
    }
  }
}