.tree li{
    cursor: pointer;
}
*{
    margin: 0;padding: 0;
}

body,#con,.con{
    background: #ffffff;
    position: relative;
    height: 99%;
    width: 100%;
}
#treeCon{
    width: 100%;
    height:100%;
}
.tree .items{
    padding-left:10px
}
#tree{
    width: 100%;
    /*float: left;*/
    height: 100%;
    background: #808080;
}
#content{
    width: 78%;
    height: 100%;
    float: left;
    /*background: #000000;*/
}
#content textarea{
    width:100% ;
    height:100% ;
}
#tree .closed:before{
    content: "→";
    font-size: 1px;
    width: 3px;
    height: 3px;
    color: red;
}
#tree .expand:before{
    content: "↓";
    font-size: 1px;
    width: 3px;
    height: 3px;
    color: #0000ff;
}